@model Category

@{ ViewData["Title"] = "Delete";
                Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml"; }

<div class="card">
    <div class="card-body">
        <form asp-action="Delete" asp-controller="Category" method="post">
            <p>
                @Model.CategoryName isimli categoriyi silmek istiyor musunuz?
            </p>
            <button class="btn btn-danger">Evet</button>
            <a asp-action="Index" asp-controller="Category" class="btn">İptal</a>
        </form>

    </div>
</div>


