@model Category
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Edit" asp-controller="Category" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                <input asp-for="CategoryName" type="text" class="form-control" placeholder="kategori adı girin">
                            </div>
                            <div class="form-group">
                                <label>Ana Kategori</label>
                                <select class="form-control custom-select" asp-items=" ViewBag.MainCategories">
                                    <option selected="@Model.ID">@Model.CategoryName</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Kategori Açıklama</label>
                                <input asp-for="Description" type="text" class="form-control" placeholder="Kategori Açıklama Girin">
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Düzenle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

